.gridster li.widget,
.gridster li.preview-holder {
  list-style: none;
}

.widget .table {
  border-collapse: collapse;
}

.widget .scrollbar {
  overflow-y: auto;
  height: 130px;
}

.widget .icon img {
  display: block;
  margin: auto;
}

.hidden {
  display: none;
}

.widget .launch-app {
  cursor: pointer;
}


/* SCROLLBAR for webkit */
::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}
::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0,0,0,.5);
  -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}


/* THEME */
html {
  background: url('assets/images/body-bg.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
}

.widget {
  background: url('assets/images/widget-bg.png');
  background-position: repeat;

  border-color: #26572d;
  border-width: 2px;
  border-style: solid;
  border-radius: 20px;
}

.widget.carousel img {
  border-radius: 20px;
}

.widget, .widget a {
  color: #205323;
}

.widget .table td, .widget .table th {
  border-color: #26572d;
  border-width: 2px;
  border-style: solid;
}

.widget .icon img {
  width: 100px;
  opacity: 0.7;
}

.widget .icon img:hover {
  width: 104px;
  opacity: 1.0;
}

.widget .container {
  margin: 10px 20px;
  overflow: auto;
}

.widget .container .header {
  margin: 0;
  margin-bottom: 20px;
}

.apps.widget .container {
  height: 480px;
}

.apps.widget .container-inner {
  width: 480px;
  margin: auto;
}

.apps.widget .application-container {
  width: 100px;
  height: 145px;
  float: left;
  text-align: center;
  margin: 10px;
}

.apps.widget .app-icon {
  width: 80px;
}


.weather.widget .weather-container {
  margin: 10px;
}

.weather.widget .weather-icon {
  float: right;
}

.weather.widget .weather-title {
  display: inline-block;
  font-size: 24px;
  font-weight: bold;
  margin-top: 10px;
}

.weather.widget .weather-description {
  font-style:italic;
}

.weather.widget .weather-temperature {
  float: right;
  font-size: 32px;
  font-weight: bold;
  color: #c3b23d;
  text-align: center;
}
