body {
  background: url('images/body-bg.jpg');
}

.widget {
  background: url('images/widget-bg.png');
  background-position: repeat;

  border-color: #26572d;
  border-width: 2px;
  border-style: solid;
  border-radius: 20px;
}

.widget.carousel img {
  border-radius: 20px;
}

.widget, .widget a {
  color: #205323;
}

.widget .table td, .widget .table th {
  border-color: #26572d;
  border-width: 2px;
  border-style: solid;
}

.widget .icon img {
  width: 100px;
  opacity: 0.7;
}

.widget .icon img:hover {
  width: 104px;
  opacity: 1.0;
}

.widget .container {
  margin: 10px 20px;
  overflow: auto;
}

.widget .container .header {
  margin: 0;
  margin-bottom: 20px;
}

.apps.widget .container {
  height: 480px;
}

.apps.widget .container-inner {
  width: 480px;
  margin: auto;
}

.apps.widget .application-container {
  width: 100px;
  height: 145px;
  float: left;
  text-align: center;
  margin: 10px;
}

.apps.widget .app-icon {
  width: 80px;
}
