.widget.configurator .container {
    margin: 10px 20px;
    overflow: hidden;
}

a.button {
    background: #FFF;
    color: #666;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    border: solid 1px #666;
    border-radius: 5px;
    padding: 5px 10px;
}

.configurator-widget-title {
    text-transform: capitalize;
}

.configurator-widget-link {
    float: right;
}

.configurator-link {
    width: 80px;
    display: block;
    float: left;
    text-decoration: none;
    text-align: center;
    margin: 10px;
}

.configurator-link img {
    width: 80px;
}

